{% extends 'base.html.twig' %}

{% block title %}Personne{% endblock %}

{% block body %}
<style></style>

<div class="p-3 mb-2 bg-danger-subtle text-emphasis-danger">

    <h1> {{ personne.nom }} </h1>
    <h1> {{ personne.prenom }} </h1>

</div>

{% endblock %}
